@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (var item in ViewData["listChuDe"] as List<ChuDeNguPhap>)
{
    <h5>@item.TenNguPhap</h5><br/>
}
